{% if field.placeholder %}
    <label for="cpb_form_input_{{ field.name }}" class="cpb_form_label cpb_form_label-number">
        {{ field.display_name }}
        {% if field.required %}*{% endif %}
    </label>
    <div class="cpb_form_input__wrapper">
        <input id="cpb_form_input_{{ field.name }}" class="cpb_form_input cpb_form_input-number"
               name="data[{{ field.name }}]" placeholder="{{ field.placeholder }}" step="any"
               {% if field.min_value %}min="{{ field.min_value }}"{% endif %}
               {% if field.max_value %}max="{{ field.max_value }}"{% endif %}
               type="number" onchange="validate_on_change('{{ field.name }}')"
               {% if value %}value="{{ value }}"{% endif %}>
        {% if field.after_input %}
            <span class="cpb_form_input__after">
                {{ field.after_input }}
            </span>
        {% endif %}
    </div>
{% else %}
    <div class="cpb_form_input__wrapper">
        <input id="cpb_form_input_{{ field.name }}" class="cpb_form_input cpb_form_input-number"
               name="data[{{ field.name }}]" placeholder="{{ field.display_name }}" step="any"
               {% if field.min_value %}min="{{ field.min_value }}"{% endif %}
               {% if field.max_value %}max="{{ field.max_value }}"{% endif %}
               onchange="validate_on_change('{{ field.name }}')"
               {% if value %}value="{{ value }}"{% endif %}>
        {% if field.after_input %}
            <span class="cpb_form_input__after">
                {{ field.after_input }}
            </span>
        {% endif %}
    </div>
{% endif %}

<div id="cpb_form_error_{{ field.name }}" class="cpb_form_error cpb_form_error-number"></div>


{% if field.required %}
    <script type="text/javascript">
        required_fields.push('{{ field.name }}');
    </script>
{% endif %}
